:root {
  --font: 'Raleway', sans-serif;
  --fontColor: darkSlateGray;
  --bgColour: white;

  --headerBgColour: green;
  --headerFontColour: yellowgreen;

  --footerBgColour: blueviolet;
  --footerFontColour: white;

  --navBgColour: blueviolet;
  --navFontColour: yellowgreen;
  --navActiveBgColour: #ab70e2;
  --navDesktopActiveBgColour: #0a640a;

  --buttonBgColour: blueviolet;
  --buttonFontColour: white;
  --buttonActiveBgColour: #ab70e2;
  --buttonCancelBgColour: #711c24;
  --buttonGoBgColour: blueviolet;
  --buttonDisabledBgColour: #dddddd;

  --loadingBgColour: orange;

  --errorBgColor: #f8d7da;
  --errorFontColor: #711c24;

  --modalBgColour: white;
  --modalBackDropBgColour: rgba(63, 61, 61, 0.692);

  --dropShadow: 0 .25rem .5rem 0 rgba(0,0,0,0.2);

  --white: white;
  --transparentWhite: #ffffffc4;

  --grey: #dddddd;
  --lightGrey: #e1e5ea;
  --lightestGrey: #eee;
}
