.adminListItemContainer {
  display: flex;
  flex-direction: column;
  box-shadow: 0 .25rem .5rem 0 rgba(0,0,0,0.2);
  padding: .5rem .75rem;
  width: 100%;
}

.adminListItemHeader {
  position: relative;
}

.summary {
  margin: 0;
}

.thumbnail {
  width: 100px;
}

.link {
  align-self: end;
}

.title {
  margin-top: .5rem;
}