@import '../../styles/variables.css';

.adminListItemContainer {
  display: flex;
  flex-direction: column;
  box-shadow: var(--dropShadow);
  padding: .8rem 1rem;
  width: 100%;
  position: relative;
  gap: .8rem;
}

.summary {
  margin: 0;
}

.thumbnail {
  width: 100px;
}

.link {
  align-self: end;
}

.title {
  margin: 0;
}