@import '../../styles/variables.css';

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--headerBgColour);
  color: var(--headerFontColour);
  height: 50px;
  padding: 1rem .5rem;
  width: 100%;
  position: sticky;
  z-index: 8;
  top: 0;
  margin-bottom: 1rem;
}
