@import '../../styles/variables.css';

.mainFeatureContainer {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 1rem 0;
  margin-bottom: 1rem;
  width: 100%;
}

.mainFeature {
  display: flex;
  flex-direction: column;
  position: relative;
}

.mainInfo {
  background-color: transparent;
  max-width: none;
  position: relative;
  bottom: revert;
  left: revert;
  padding: 0;
}

.title {
  margin-top: revert;
}

.mainAsideContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
}

.mainAside {
  background-color: var(--lightGrey);
  padding: .8rem 1rem;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.link {
  background-color: var(--buttonBgColour);
  border: none;
  color: var(--buttonFontColour);
  padding: .8rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  margin: 0;
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
}

.link:hover {
  background-color: var(--buttonActiveBgColour);
}

@media screen and (min-width: 667px) {
  .mainFeatureContainer {
    flex-direction: row;
    gap: 0 1rem;
  }

  .mainInfo {
    background-color: var(--transparentWhite);
    max-width: 22rem;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    padding: .8rem 1rem;
  }

  .title {
    margin-top: 0;
  }
}
