@import './styles/variables.css';

.app {
  width: calc(100% - 2rem);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  max-width: 66.875rem;
}

