@import './styles/variables.css';
@import url(https://fonts.googleapis.com/css?family=Raleway);

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--font);
  color: var(--fontColor);
  background-color: var(--bgColour);
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 1rem;
}

#root {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: relative;
}

.responsive-image {
  width: 100%;
  height: auto;
}